# This exposes a http port that verifies that the Tezos signer
# is connected and ready to sign for the path passed as parameter.

[Unit]
Description     = Ledger Tester service
Wants           = network-online.target
After           = network-online.target

[Service]
ExecStart       = /usr/bin/testSigner.py
Restart         = on-failure

[Install]
WantedBy        = multi-user.target
