# Do not include files from .d folder
# otherwise cloud-init allows password auth.
#Include /etc/ssh/sshd_config.d/*.conf

PasswordAuthentication no
KbdInteractiveAuthentication no
PermitRootLogin no

UsePAM yes

X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*

Subsystem       sftp    /usr/lib/openssh/sftp-server

